config.txt
ssmtp.config
msmtp.config
mate
monitor_network_devices.txt
monitor_network_devices_history.log
mail-backlog
fritzbox-yaf/yaf_done/
fritzbox-yaf/yaf_work/
fritzbox-yaf/yaf/
fritzbox-yaf/yaf.log
fritzbox-yaf/nohup.out
fritzbox-yaf/traffic_details_yaf.tsv
fritzbox-yaf/ieee-oui.csv
