#!/bin/bash

SSH_TUNNEL_PORT=99999
DEVICE_NAME=new-device

# mail notifications
# also adjust values of this ssmtp config file
SSMTP_CONFIG=/home/mars/mars-admin/ssmtp.config
RECEIVER=cneumann@marsgeneral.com

